NODE_ENV=development
API_PORT=3000
WEB_ORIGIN=http://localhost:5173
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=parking_reservation
DATABASE_USER=parking_app
DATABASE_PASSWORD=change-me
SESSION_TTL_DAYS=7
COOKIE_SECURE=false
